h3 {
    color: white;
    alignment: center;
}
h1{
    color: orange;
}
body {
    background-color: #373737;
}

text {
    color: white;
}

input {
    background-color: dimgrey;
    color: white;
}